# Ignore virtual environment
venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore everything in output folder except CSV and PNG files
output/*
!output/*.csv
!output/*.png
!output/*.txt